NuvoControl/Server/NuvoControl.Server.WebServer/Service References/MonitorAndControlServiceReference/MonitorAndControlService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MonitorAndControlService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSDualHttpBinding_IMonitorAndControl_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://imfi-laptopdell:8080/MonitorAndControlService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://imfi-laptopdell:8080/MonitorAndControlService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://imfi-laptopdell:8080/MonitorAndControlService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NuvoControl.Common.Configuration" />
      <xsd:import schemaLocation="http://imfi-laptopdell:8080/MonitorAndControlService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NuvoControl.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMonitorAndControl_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IMonitorAndControl_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorAndControl_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IMonitorAndControl_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorAndControl_RenewLease_InputMessage">
    <wsdl:part name="parameters" element="tns:RenewLease" />
  </wsdl:message>
  <wsdl:message name="IMonitorAndControl_RenewLease_OutputMessage">
    <wsdl:part name="parameters" element="tns:RenewLeaseResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorAndControl_SetZoneState_InputMessage">
    <wsdl:part name="parameters" element="tns:SetZoneState" />
  </wsdl:message>
  <wsdl:message name="IMonitorAndControl_SetZoneState_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetZoneStateResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorAndControl_GetZoneState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetZoneState" />
  </wsdl:message>
  <wsdl:message name="IMonitorAndControl_GetZoneState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetZoneStateResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorAndControl_Monitor_InputMessage">
    <wsdl:part name="parameters" element="tns:Monitor" />
  </wsdl:message>
  <wsdl:message name="IMonitorAndControl_Monitor_OutputMessage">
    <wsdl:part name="parameters" element="tns:MonitorResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorAndControl_MonitorMultiple_InputMessage">
    <wsdl:part name="parameters" element="tns:MonitorMultiple" />
  </wsdl:message>
  <wsdl:message name="IMonitorAndControl_MonitorMultiple_OutputMessage">
    <wsdl:part name="parameters" element="tns:MonitorMultipleResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorAndControl_RemoveMonitor_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMonitor" />
  </wsdl:message>
  <wsdl:message name="IMonitorAndControl_RemoveMonitor_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMonitorResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorAndControl_RemoveMonitorMultiple_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMonitorMultiple" />
  </wsdl:message>
  <wsdl:message name="IMonitorAndControl_RemoveMonitorMultiple_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMonitorMultipleResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorAndControl_OnZoneStateChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnZoneStateChanged" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IMonitorAndControl">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorAndControl/Connect" message="tns:IMonitorAndControl_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorAndControl/ConnectResponse" message="tns:IMonitorAndControl_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="true" name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorAndControl/Disconnect" message="tns:IMonitorAndControl_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorAndControl/DisconnectResponse" message="tns:IMonitorAndControl_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="RenewLease">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorAndControl/RenewLease" message="tns:IMonitorAndControl_RenewLease_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorAndControl/RenewLeaseResponse" message="tns:IMonitorAndControl_RenewLease_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="SetZoneState">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorAndControl/SetZoneState" message="tns:IMonitorAndControl_SetZoneState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorAndControl/SetZoneStateResponse" message="tns:IMonitorAndControl_SetZoneState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetZoneState">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorAndControl/GetZoneState" message="tns:IMonitorAndControl_GetZoneState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorAndControl/GetZoneStateResponse" message="tns:IMonitorAndControl_GetZoneState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="Monitor">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorAndControl/Monitor" message="tns:IMonitorAndControl_Monitor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorAndControl/MonitorResponse" message="tns:IMonitorAndControl_Monitor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="MonitorMultiple">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorAndControl/MonitorMultiple" message="tns:IMonitorAndControl_MonitorMultiple_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorAndControl/MonitorMultipleResponse" message="tns:IMonitorAndControl_MonitorMultiple_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="RemoveMonitor">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorAndControl/RemoveMonitor" message="tns:IMonitorAndControl_RemoveMonitor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorAndControl/RemoveMonitorResponse" message="tns:IMonitorAndControl_RemoveMonitor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="RemoveMonitorMultiple">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorAndControl/RemoveMonitorMultiple" message="tns:IMonitorAndControl_RemoveMonitorMultiple_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorAndControl/RemoveMonitorMultipleResponse" message="tns:IMonitorAndControl_RemoveMonitorMultiple_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnZoneStateChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorAndControl/OnZoneStateChanged" message="tns:IMonitorAndControl_OnZoneStateChanged_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDualHttpBinding_IMonitorAndControl" type="tns:IMonitorAndControl">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IMonitorAndControl_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IMonitorAndControl/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IMonitorAndControl/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenewLease">
      <soap12:operation soapAction="http://tempuri.org/IMonitorAndControl/RenewLease" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetZoneState">
      <soap12:operation soapAction="http://tempuri.org/IMonitorAndControl/SetZoneState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetZoneState">
      <soap12:operation soapAction="http://tempuri.org/IMonitorAndControl/GetZoneState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Monitor">
      <soap12:operation soapAction="http://tempuri.org/IMonitorAndControl/Monitor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MonitorMultiple">
      <soap12:operation soapAction="http://tempuri.org/IMonitorAndControl/MonitorMultiple" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveMonitor">
      <soap12:operation soapAction="http://tempuri.org/IMonitorAndControl/RemoveMonitor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveMonitorMultiple">
      <soap12:operation soapAction="http://tempuri.org/IMonitorAndControl/RemoveMonitorMultiple" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnZoneStateChanged">
      <soap12:operation soapAction="http://tempuri.org/IMonitorAndControl/OnZoneStateChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MonitorAndControlService">
    <wsdl:port name="WSDualHttpBinding_IMonitorAndControl" binding="tns:WSDualHttpBinding_IMonitorAndControl">
      <soap12:address location="http://imfi-laptopdell:8080/MonitorAndControlService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://imfi-laptopdell:8080/MonitorAndControlService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>