NuvoControl/Client/NuvoControl.Client.WcfTestConsole/Service References/NuvoControlReference/NuvoControlService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="NuvoControlService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/NuvoControlService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/NuvoControlService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INuvoControl_StartSession_InputMessage">
    <wsdl:part name="parameters" element="tns:StartSession" />
  </wsdl:message>
  <wsdl:message name="INuvoControl_StartSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartSessionResponse" />
  </wsdl:message>
  <wsdl:message name="INuvoControl_EndSession_InputMessage">
    <wsdl:part name="parameters" element="tns:EndSession" />
  </wsdl:message>
  <wsdl:message name="INuvoControl_EndSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:EndSessionResponse" />
  </wsdl:message>
  <wsdl:message name="INuvoControl_IConfigureIfc_InputMessage">
    <wsdl:part name="parameters" element="tns:IConfigureIfc" />
  </wsdl:message>
  <wsdl:message name="INuvoControl_IConfigureIfc_OutputMessage">
    <wsdl:part name="parameters" element="tns:IConfigureIfcResponse" />
  </wsdl:message>
  <wsdl:portType name="INuvoControl">
    <wsdl:operation name="StartSession">
      <wsdl:input wsaw:Action="http://tempuri.org/INuvoControl/StartSession" message="tns:INuvoControl_StartSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INuvoControl/StartSessionResponse" message="tns:INuvoControl_StartSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EndSession">
      <wsdl:input wsaw:Action="http://tempuri.org/INuvoControl/EndSession" message="tns:INuvoControl_EndSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INuvoControl/EndSessionResponse" message="tns:INuvoControl_EndSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IConfigureIfc">
      <wsdl:input wsaw:Action="http://tempuri.org/INuvoControl/IConfigureIfc" message="tns:INuvoControl_IConfigureIfc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INuvoControl/IConfigureIfcResponse" message="tns:INuvoControl_IConfigureIfc_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INuvoControl" type="tns:INuvoControl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartSession">
      <soap:operation soapAction="http://tempuri.org/INuvoControl/StartSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndSession">
      <soap:operation soapAction="http://tempuri.org/INuvoControl/EndSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IConfigureIfc">
      <soap:operation soapAction="http://tempuri.org/INuvoControl/IConfigureIfc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NuvoControlService">
    <wsdl:port name="BasicHttpBinding_INuvoControl" binding="tns:BasicHttpBinding_INuvoControl">
      <soap:address location="http://localhost:8080/NuvoControlService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>