NuvoControl/Client/NuvoControl.Client.ServiceAccess/Service References/ConfigurationService/ConfigurationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="ConfigurationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IConfigure_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/ConfigurationService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/ConfigurationService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/ConfigurationService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NuvoControl.Common.Configuration" />
      <xsd:import schemaLocation="http://localhost:8080/ConfigurationService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Windows" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConfigure_RenewLease_InputMessage">
    <wsdl:part name="parameters" element="tns:RenewLease" />
  </wsdl:message>
  <wsdl:message name="IConfigure_RenewLease_OutputMessage">
    <wsdl:part name="parameters" element="tns:RenewLeaseResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigure_GetGraphicConfiguration_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGraphicConfiguration" />
  </wsdl:message>
  <wsdl:message name="IConfigure_GetGraphicConfiguration_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGraphicConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigure_GetZoneKonfiguration_InputMessage">
    <wsdl:part name="parameters" element="tns:GetZoneKonfiguration" />
  </wsdl:message>
  <wsdl:message name="IConfigure_GetZoneKonfiguration_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetZoneKonfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigure_GetFunction_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFunction" />
  </wsdl:message>
  <wsdl:message name="IConfigure_GetFunction_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFunctionResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigure_GetFunctions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFunctions" />
  </wsdl:message>
  <wsdl:message name="IConfigure_GetFunctions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFunctionsResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigure_AddFunction_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFunction" />
  </wsdl:message>
  <wsdl:message name="IConfigure_AddFunction_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFunctionResponse" />
  </wsdl:message>
  <wsdl:portType name="IConfigure">
    <wsdl:operation name="RenewLease">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigure/RenewLease" message="tns:IConfigure_RenewLease_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigure/RenewLeaseResponse" message="tns:IConfigure_RenewLease_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGraphicConfiguration">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigure/GetGraphicConfiguration" message="tns:IConfigure_GetGraphicConfiguration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigure/GetGraphicConfigurationResponse" message="tns:IConfigure_GetGraphicConfiguration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetZoneKonfiguration">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigure/GetZoneKonfiguration" message="tns:IConfigure_GetZoneKonfiguration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigure/GetZoneKonfigurationResponse" message="tns:IConfigure_GetZoneKonfiguration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFunction">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigure/GetFunction" message="tns:IConfigure_GetFunction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigure/GetFunctionResponse" message="tns:IConfigure_GetFunction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFunctions">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigure/GetFunctions" message="tns:IConfigure_GetFunctions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigure/GetFunctionsResponse" message="tns:IConfigure_GetFunctions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFunction">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigure/AddFunction" message="tns:IConfigure_AddFunction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigure/AddFunctionResponse" message="tns:IConfigure_AddFunction_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IConfigure" type="tns:IConfigure">
    <wsp:PolicyReference URI="#WSHttpBinding_IConfigure_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RenewLease">
      <soap12:operation soapAction="http://tempuri.org/IConfigure/RenewLease" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGraphicConfiguration">
      <soap12:operation soapAction="http://tempuri.org/IConfigure/GetGraphicConfiguration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetZoneKonfiguration">
      <soap12:operation soapAction="http://tempuri.org/IConfigure/GetZoneKonfiguration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFunction">
      <soap12:operation soapAction="http://tempuri.org/IConfigure/GetFunction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFunctions">
      <soap12:operation soapAction="http://tempuri.org/IConfigure/GetFunctions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFunction">
      <soap12:operation soapAction="http://tempuri.org/IConfigure/AddFunction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConfigurationService">
    <wsdl:port name="WSHttpBinding_IConfigure" binding="tns:WSHttpBinding_IConfigure">
      <soap12:address location="http://localhost:8080/ConfigurationService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8080/ConfigurationService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>