NuvoControl/Client/NuvoControl.Client.ServiceAccess/Service References/ConfigurationService/ConfigurationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/ConfigurationService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NuvoControl.Common.Configuration" />
  <xs:import schemaLocation="http://localhost:8080/ConfigurationService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetGraphicConfiguration">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGraphicConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NuvoControl.Common.Configuration" minOccurs="0" name="GetGraphicConfigurationResult" nillable="true" type="q1:Graphic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZoneKonfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NuvoControl.Common.Configuration" minOccurs="0" name="zoneId" nillable="true" type="q2:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZoneKonfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NuvoControl.Common.Configuration" minOccurs="0" name="GetZoneKonfigurationResult" nillable="true" type="q3:Zone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFunctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NuvoControl.Common.Configuration" minOccurs="0" name="GetFunctionResult" nillable="true" type="q5:Function" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFunctions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/NuvoControl.Common.Configuration" minOccurs="0" name="zoneId" nillable="true" type="q6:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFunctionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/NuvoControl.Common.Configuration" minOccurs="0" name="GetFunctionsResult" nillable="true" type="q7:ArrayOfFunction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/NuvoControl.Common.Configuration" minOccurs="0" name="newFunction" nillable="true" type="q8:Function" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFunctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFunctionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>