source/trunk/NuvoControl/Client/NuvoControl.Client.WcfTestConsole/Service References/NuvoControlConfigurationReference/NuvoControlConfiguration2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NuvoControl.Common.Configuration" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NuvoControl.Common.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/NuvoControlConfiguration?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
  <xs:complexType name="Zone">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="FloorPlanCoordinates" nillable="true" type="q1:ArrayOfPoint" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PicturePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PictureType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Zone" nillable="true" type="tns:Zone" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeviceId" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
</xs:schema>