NuvoControl/Client/NuvoControl.Client.WcfTestConsole/Service References/MonitorAndControlServiceReference/MonitorAndControlService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://md11p91c:7400/MonitorAndControlService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NuvoControl.Common.Configuration" />
  <xs:import schemaLocation="http://md11p91c:7400/MonitorAndControlService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NuvoControl.Common" />
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewLease">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewLeaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetZoneState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NuvoControl.Common.Configuration" minOccurs="0" name="zoneId" nillable="true" type="q1:Address" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NuvoControl.Common" minOccurs="0" name="stateCommand" nillable="true" type="q2:ZoneState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetZoneStateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZoneState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NuvoControl.Common.Configuration" minOccurs="0" name="zoneId" nillable="true" type="q3:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZoneStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NuvoControl.Common" minOccurs="0" name="GetZoneStateResult" nillable="true" type="q4:ZoneState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Monitor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NuvoControl.Common.Configuration" minOccurs="0" name="zoneId" nillable="true" type="q5:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorMultiple">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/NuvoControl.Common.Configuration" minOccurs="0" name="zoneIds" nillable="true" type="q6:ArrayOfAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorMultipleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMonitor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/NuvoControl.Common.Configuration" minOccurs="0" name="zoneId" nillable="true" type="q7:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMonitorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMonitorMultiple">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/NuvoControl.Common.Configuration" minOccurs="0" name="zoneIds" nillable="true" type="q8:ArrayOfAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMonitorMultipleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnZoneStateChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/NuvoControl.Common.Configuration" minOccurs="0" name="zoneId" nillable="true" type="q9:Address" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/NuvoControl.Common" minOccurs="0" name="zoneState" nillable="true" type="q10:ZoneState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>